@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.login{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    &__button{
        @include cta-button;
        width: 16rem;
        margin-top: 2rem;
    }
    &__logo{
        width: 7rem;
        @include tablet{
            width: 10rem;
            margin-top: 3rem;
            margin-right: 7rem;
        }
    }
}